/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-cover: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono', sans-serif;
  --font-size: 18px;
  --accent-color: #FF0070; 
  --main-text-color: #F1B2CE;
  --heading-color: #000028;
}  